<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>常用方法集合.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>812EEC221E28B3CB00D854AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>812EEC3B1E28B3CB00D854AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>812EEC461E28B3CB00D854AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
